:root {
    --clr-accent: hsl(346, 89%, 35%);

    --clr-primary-400: hsl(191, 53%, 47%);
    --clr-primary-900: hsl(193, 100%, 28%);

    --clr-neutral-100: hsl(232, 12%, 13%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --ff-primary: Helvetica, Arial;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 900;

    --margin-primary: 2%;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ol[role='list'],
ul[role='list'] {
    list-style: none;
}

.primary-header {
    /* outline: 1px solid blue; */
    border-bottom: 0.1rem solid var(--clr-accent);
}

.primary-header .container {
    /* outline: 1px solid red;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: var(--margin-primary);
}

.primary-header-logo-container {
    /* outline: 1px solid greenyellow; */
    width: fit-content;
    margin-block: 0.5rem;
}

.primary-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.primary-navigation ul a {
    text-decoration: none;
    color: var(--clr-neutral-900);
    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
}

.section-title {
    font-weight: var(--fw-bold);
    font-size: 1rem;
    font-family: var(--ff-primary);
    width: fit-content;
}

.add-book-section .container {
    /* outline: 1px solid hotpink; */
    margin: var(--margin-primary);
    background-color:hsl(0, 0%, 98%);
    padding: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--clr-accent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);

}

.add-book-section-title {
    grid-column: 1/2;
    grid-row: 1/2;
    /* outline: 1px solid blue; */
    width: auto;
    text-align: center;

}

.add-book-form-container {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 17% auto;
    outline: 1px solid blue;
    gap: 1rem;
    max-height: 500px;
    align-items: center;
    justify-content: center;
}

.add-book-form-container label {
    grid-column: 1/2;
}

.add-book-form-container button {
    grid-column: 2/3;    
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    border: 0;
    cursor: pointer;

    background-color: var(--clr-accent);
    color: white;
}

.add-book-form-container input[type="text"] {
    grid-column: 2/3;
    width: 20rem;

    border: 0;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0.5rem;
    background-color:hsl(0, 0%, 90%);
}

.preview-container-title {
    grid-column: 2/3;
    grid-row: 1/2;
    outline: 1px solid blue;
    width: auto;
    text-align: center;
}

.preview-container {
    outline: 1px solid blue;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preview-container .card {
    /* outline: 1px solid hotpink; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 2fr 0.5fr 0.5fr;
    gap: 1rem;
    max-width: 40rem;
    max-height: 500px;
    padding: 1rem;
    background-color: bisque;
    border-radius: 0.5rem;
}

.preview-container .card .book-cover-img-container {
    grid-column: 1/2;
    grid-row: 1/3;
    /* outline: 1px solid blue; */
}  

.book-cover-img-container img {
    /* outline: 2px solid red; */
    width: 100%;
    height: 100%;
}

.book-title-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

.book-authors-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

.book-keywords-container {
    grid-column: 1/3;
    grid-row: 3/4;
}

.book-keywords-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.book-keywords-container ul li {
    padding: 0.2rem 0.4rem;
    background-color: darkgray;
    border-radius: 0.5rem;
}

.book-keywords-container ul li a {
    color: white;
    text-decoration: none;
}

.book-briefing-container {
    grid-column: 1/3;
    grid-row: 4/5;
}

.book-PISBN-container {
    grid-column: 1/2;
    grid-row: 5/6;
}

.book-EISBN-container {
    grid-column: 1/2;
    grid-row: 6/7;
}

.book-catagory-container {
    grid-column: 2/3;
    grid-row: 5/7;
    
}


footer {
    background-color: var(--clr-primary-900);
    color: white;
}

footer .container {
    border-top: 0.1rem solid var(--clr-primary-400);
    padding-inline: var(--margin-primary);
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.footer-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.footer-navigation ul a{
    text-decoration: none;
    color: white;
    font-family: var(--ff-secondary);

}